$background-sices: #fdf7f2;
$background-form-input: #fdf7f2;

$main-accent-color: #f59256;
$black-color: #111111;
$background-button-color: #fdf7f2;
$transparent-background-color: rgba(255, 255, 255, 0.6);

$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
